# Build directory
build/

# Executables
*.exe

# Object files
*.obj

# Libraries
*.lib

# Program Database
*.pdb

# IDE-specific files
.vscode/

# CMake build system specific files/directories
CMakeCache.txt
cmake_install.cmake

# Temporary files and logs (if any)
*.log
*.tmp
*~